/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}

.pri-color{
    color: #FD6E0A;
}

.button-pri{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


/* nav relative style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title{
color: #181818;
font-size: 45px;
font-family: Open Sans;
font-weight: 800;
word-wrap: break-word
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px; 
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* hadder design */
.header{
    background-color: #FFF8F3;
    background-image: url("../portfolio/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
    
}

.banner .profile{
    width: 500px;
}

.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
}

.banner-grteeting{
    color: #474747;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.banner-para{
    margin-top: 0px;
}

/* header section design end */

/* main section style */
main{
    max-width: 1140px;
    margin: 0px auto;
}

/* about section style */

.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}

.about-info{
    text-align: center;
}

.about-info-content{
    display: flex;
    justify-content: space-around;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}

.section-para{

}